<!DOCTYPE html>
<html>
<head>
  <title>Shopabot</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu-bar">
    <%= link_to "Home", root_path %>
  </div>
  <div>
    <%= link_to "User Signup", signup_path %>
  </div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<%= yield %>

</body>
</html>
