<!DOCTYPE html>
<html>
<head>
  <title>Shopabot</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu-bar">
    <%= link_to "Home", root_path %>
    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %> | <%= link_to 'Signup', signup_path %>
    <% end %>
  </div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<%= yield %>

</body>
</html>
